* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  background-color: blueviolet;
}
.logo {
  text-align: center;
  background-color: blue;
  color: white;
}
.main-container {
  display: flex;
  border: 5px solid red;
  height: 85vh;
  width: 724px;
  margin: 0 auto;
  border-radius: 50px;
}
.functionality {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.grid-pallete {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}
.grid-size {
  text-align: center;
  padding-top: 10px;
}
.cells {
  background-color: #ffffff;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 0.1px solid rgba(218, 216, 216, 0.637);
}
.cell {
  border: 0.1px solid rgba(218, 216, 216, 0.637);
}
#colorpicker {
  all: revert;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.slidecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  cursor: pointer;
  background-color: yellow;
  border: none;
  width: 100px;
  height: 36px;
  border-radius: 50px;
}
