* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}
.logo {
  text-align: center;
  background-color: blue;
  color: white;
}
.main-container {
  display: flex;
  border: 5px solid red;
  height: 575px;
  width: 575px;
  margin: 0 auto;
}
.functionality {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.grid-pallete {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 5px solid black;
}
.square {
  background-color: green;
}
